<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>List of markup files</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<label for="fname">First name:</label>
			<input type="text" id="fname" name="fname" /><br /><br />
			<label for="lname">Last name:</label>
			<input type="text" id="lname" name="lname" /><br /><br />
			<input type="file" name="file" />
			<input type="submit" value="Submit" />
		</form>
		<h1>List of markup files:</h1>
		{% if files.length !== 0 %}
		<ul>
			{% for file in files %}
			<li><a href="{{ file }}">{{ file }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<p>There are no markup files created yet.</p>
		{% endif %}
	</body>
</html>
