.event {
	margin-bottom:2em;
	padding:1em;
	@include media-breakpoint-up(md) {
		min-height:350px;
	}
	.event-details {
		margin-bottom:1em;

		.event-time {
			display:table-cell;
			padding-right:0.5em;
			border-right:1px solid #333;
		}
		.event-venue {
			display:table-cell;
			padding-left:0.5em;
		}
	}

}