
.list-base {
	list-style-type: none;
	margin-left: 0;
	padding:0;

	li {
		position: relative;
		padding-left: 25px;
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
		

		&:before {
			content: '';
			position: absolute;
			left: 10px;
			top: 7px;
			width: 8px;
			height: 8px;
			display: block;
			border-radius: 50%;
			background-color: #da3c18;
		}
	}

}




