/* MAIN NAVIGATION BAR
-------------------------------------------------- */



.navbar {
	background-color: rgba(0,0,0,0.7)!important;
	border:0px;
	padding:0;
	.navbar-toggle {
		border-color: darken($navbar-bg, 7%);
		background-color: darken( $navbar-bg, 5%);

		transition: all 0.2s ease;
    		.icon-bar {
 			background-color: #fff;
		}
	}


}
.navbar-nav {
	padding:0;
	margin:0;
	& > li {
		display:flex;
		align-items: stretch;
		a {
		padding:20px;
		color:#fff;
		font-size:1.4em;
			&:hover,
			&:focus,
			&:active,
			&.active {
				background-color:$navbar-dropdown;
			}
		}
		@include media-breakpoint-down(md) {
			width:100%;
			float:none;
			text-align:left;
		}
	}
}



.navbar-fixed-top {
	background-color:rgba(0,0,0,1);
	@include media-breakpoint-down(md){
		.navbar-nav {
			& > li {
				a {
					font-size:1em;
				}
			}
		}
	}
}