footer {
	background-color:darken(#298add, 20%);
	.footer-inner {
		
		color:#fff;
		padding:2em;

		* {
			color:#fff;
		}

		@include media-breakpoint-down(md) {
			padding:1em;
			font-size:0.8em;
			
			.pull-right {
				float:none!important;
			}

		}

	}
}