{% macro og_meta( title, pageurl, description) %}
	<meta name="description" content="{{ description }}" />
	<meta name="keywords" content="" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://sparkysongs.com/{{ pageurl }}" />
	<meta property="og:site_name" content="Sparkysongs" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="images/logo_sq.png" />
{% endmacro %}


{% macro nav(active) %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
              <div id="navbar" class="navbar-collapse collapse">
                 <ul class="nav navbar-nav d-flex align-items-stretch flex-fill justify-content-center">
                    <li><a class="{% if active == 'home' %}active{% endif %}" href="/">Home</a></li>
                    <li><a class="{% if active == 'about-sparkysongs' %}active{% endif %}" href="about-sparkysongs.html">Live shows</a></li>
                    <li><a class="{% if active == 'when-and-where' %}active{% endif %}" href="when-and-where.html">When &amp; where</a></li>
                    <li><a class="{% if active == 'videos' %}active{% endif %}" href="videos.html">Videos</a></li>
                    <li><a class="{% if active == 'party-show' %}active{% endif %}" href="about-party-show.html">Party show</a></li>
                   <li><a class="{% if active == 'about-me' %}active{% endif %}" href="about-me.html">About me</a></li>
                  </ul>
          </div>
        </nav>

{% endmacro %}


{% macro sub_nav( section, type) %}
	{% if type == "side" %}
 	<div id="menu" class="sidenav">
      		<ul>
	 {% endif %}

   	{% if type == "dropdown" %}
      		<ul class="nav-main__dropdown">
   	{% endif %}
  {% if section == "droplinks1" %}
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
   {% endif %}

   {% if section == "droplinks2" %}
	<li><a href="#">Sub link</a></li>
      <li class="nav-selected"><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
      <li><a href="#">Sub link</a></li>
   {% endif %}


 </ul>
	 {% if type == "side" %}
      </div>
   {% endif %}

{% endmacro %}